body {
    background: #212121;
    font-family: 'Source Sans Pro', 'Sans Serif';
    font-size: 1rem;
    color: #FAFAFA;
}

.link {
    color: #00b0ff;
    text-decoration: none;
}
.link:hover {
    color: #0091ea;
}

/* 
Color Palette Reference: 
https://materialui.co/colors/ 
https://mui.com/material-ui/customization/color/
*/